:root{
    --font_fam: 'Mulish', sans-serif; }
    
    h3{margin-left: 40px;
    margin-top: 15px;}
    
    .container{
    background-image: url("clgimg.jpg");
    background-size: 1500px 175px;
    height: calc(20vh + 30px);
    border-radius: 20px;
    margin: auto;
    width:calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: -3px 3px 5px;
    opacity: 0.85;
    }
    
    .content h1{
    color: #FFFFFF;
    font-size: 45px;}
    
    .content p{
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 0 0 0;}
    
    .headimage{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    left: 10vw;
    }
    /* 
    .card-body {
    margin-left: 40px;}
    
    .button {
    display: flex;                 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 20px;}
    
    .button .block {
    margin: 5px; 
    display: block; }
    
    .card{
        display: flex;
        flex-direction: column;
        width: calc(100vw / 6);
        margin-bottom: 20px;
    }
    .button > .card button {
    height: 100px;
    padding: 10px 20px;
    margin: 0 10px 10px 10px; 
    background-color: #F5DEB3;
    text-align: center;
    border-radius: 10px;
    color: black; 
    font-size: 20px;}
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}
    
    input[type=number] {
    -moz-appearance: textfield; }
     */
    
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
    .opt{
        margin: 0 auto;
        display: grid;
        /* width: 100%; */
        grid-template-columns: 20% 20% 20% 20% 20%;
        /* border: 2px solid red; */
    }
    .card{
        /* width: calc(100vw / 5); */
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        /* border: 2px solid red; */
    }
    .card h2{
        font-size: 32px;
        background: #F5DEB3;
        height: 90px;
        width: 250px;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number], input[type=text], .card-body{
        display: none;
    }
    input.quant{
        visibility: hidden;
    }
    input.quant:checked ~ input[type=number], input.quant:checked ~ input[type=text], input.quant:checked ~ .card-body{
        display: block;
    }
    
    .submit{
        padding: 20px;
        background: rgb(177, 168, 168);
    }