*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 20px 40px; */
}
a.logout{
    padding: 10px 20px;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s ease;
}
a.logout:hover{
    background: #515151;
}


.admin-controls a{
    /* border: 2px solid red; */
    padding: 10px 20px;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s ease;
}
.admin-controls a:hover{
    background: #ececec;
    color: #000;
}


.table{
    width: calc(100% - 25px);
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 15px;
}
thead tr{
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(241, 241, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
}
td{
    padding: 5px;
    border: 2px solid rgb(225, 225, 225);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.table .detail{
    max-width: 50vw;
    overflow:auto;
}
.table a{
    margin: unset;
    padding: unset;
    background: unset;
    color: gray;
    cursor: pointer;
    border-radius: 0;
    text-decoration: underline;
    transition: .5s ease;
}
.table a:hover{
    color: rgb(255, 108, 108);
}