*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ------------------------------ Login Page ------------------------------ */
img.bg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .7;
}
img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .7;
}
form{
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #000;
    background: #ffffffac;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
label{
    display: block;
    margin: 5px 10px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    display: block;
    margin: 5px 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}
.btn{   
    margin-top: 30px;
    padding: 10px 20px;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background: #515151;
}
p.error{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    background: rgba(255, 0, 0, 0.5);
}
/* ------X-------------X--------- Login Page -------X------------X--------- */


/* ------------------------------ user Page ------------------------------ */
a.logout{   
    margin-top: 30px;
    padding: 20px;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
a.logout:hover{
    background: #515151;
}
/* ------X-------------X--------- user Page -------X------------X--------- */

/* 
@media screen and (max-width: 1024px)  {
    form{
        max-width: 80vw;
    }
} */