*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: none;
}

.adminHome{
    display: none;
}

.table{
    width: calc(100% - 25px);
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 15px;
    /* border: 10px solid red; */
}
thead tr{
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(241, 241, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
}
td{
    padding: 5px;
    border: 2px solid rgb(241, 241, 241);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.table .detail{
    max-width: 50vw;
    overflow:auto;
    text-align: left;
}
td.choice input.inp_rad {
    display: none;
}
